@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Журнал заявок</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="single is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <h1><a href="index.html">Журнал заявок</a></h1>
            <h1><a href="section1.html">Составление заявки</a></h1>
        </header>

        <!-- Main -->
        <div id="main">

            <!-- Post -->
            <article class="post">
                <header>
                    <div class="title">
                        <h2>Журнал заявок</h2>
                    </div>
                </header>

                <table>
                    <tr><th>№ заявки</th><th>Дата</th><th>ФИО ответственного</th><th>Цех</th><th>Описание работ</th></tr>
                    <tr><td>1</td><td>16.10.2020</td><td>Петров А.С.</td><td>СПБО</td><td>Расчистка внутренних дорог (<a href="view.html">Подробнее...</a>) </td></tr>
                </table>
                <ul class="actions">
                    <li><a href="section1.html" class="button">Добавить заявку</a></li>
                </ul>
            </article>

        </div>

        <!-- Footer -->
        <section id="footer">
            <p class="copyright">&copy; Епифанова Е.Л.  Морозова А.Р.  Нурушева А.Р.  (АГТУ)</p>
        </section>

    </div>

    <!-- Scripts -->
    <script src="util.js"></script>

</body>
</html>