@using TeamProject.ViewModels
@model ViewRequestsViewModel

@{
    Layout = "_Index";
}


  <tr><td>1</td><td>16.10.2020</td><td>@Model.AllResponsibles.ElementAt(5).User?.name</td><td>@Model.AllShops.First().name</td></tr>
