@using TeamProject.ViewModels
@model ViewRequestsViewModel

@{
    Layout = "_Index";
}


  <tr><td>1</td><td>@Model.AllRequests.First().begin</td><td>@Model.AllRequests.First().Responsible.User.name</td><td>@Model.AllShops.First().name</td></tr>
