@using TeamProject.ViewModels
@model HomeViewModel

@{
    Layout = "_Reference";
}

<article class="post">
    <header>
        <div class="title">
            <h2>Справочная информация</h2>
        </div>
    </header>
    <h2>Журнал заявок</h2>
    <p>Возможна сортировка заявок по следующим параметрам:</p>
    <ul>
        <li>дата,</li>
        <li>ФИО ответственного,</li>
        <li>цех.</li>
    </ul>
    <p>Сортировка осуществляется с помощью нажатия на соответствующие заголовки таблицы.</p>
     <h2>Добавление заявки</h2>
    <p>Если в журнале уже имеется заявка, у которой параметры</p>
    <ul>
        <li>цех,</li>
        <li>ФИО ответственного,</li>
        <li>место работы,</li>
        <li>даты начала и окончания работ</li>
    </ul>
    <p>совпадают с параметрами добавляемой заявки, то данная заявка будет отредактирована с учётом новых введённых данных: все раннее добавленные запросы на технику будут заменены, а также будут изменены описание работ и комментарий.</p>
    <h2>Редактирование заявки перед добавлением</h2>
    <p>Если при редактирование 1-ого раздела были изменены даты начала и окончания работ, то у всех раннее составленных запросов на технику будут изменены следующие параметры:</p>
    <ul>
        <li>задержка (00:00),</li>
        <li>продолжительность (00:30).</li>
    </ul>
    <p>После чего произойдёт переход ко 2-ому разделу для их повторного ввода.</p>
</article>