<!DOCTYPE HTML>
<html>
<head>
    <title>Журнал заявок</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body class="single is-preload">

    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Header -->
        <header id="header">
            <h1><a href="/Home/">Журнал заявок</a></h1>
            <h1><a href="/Section1/">Составление заявки</a></h1>
        </header>

        <!-- Main -->
        <div id="main">

            <!-- Post -->
            <article class="post">
                <header>
                    <div class="title">
                        <h2>Журнал заявок</h2>
                    </div>
                </header>

                <table>
                    <tr><th>№ заявки</th><th>Дата</th><th>ФИО ответственного</th><th>Цех</th><th>Описание работ</th></tr>
                    @RenderBody()
                </table>
                <ul class="actions">
                    <li><a href="/Section1/" class="button">Добавить заявку</a></li>
                </ul>
            </article>

        </div>

        <!-- Footer -->
        <section id="footer">
            <p class="copyright">&copy; Епифанова Е.Л.  Морозова А.Р.  Нурушева А.Р.  (АГТУ)</p>
        </section>

    </div>

    <!-- Scripts -->
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>